<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8" />
  <title>Semantic UI Sign In/Sign Up Form</title>
  <link href="dist/semantic.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/form_new.css">
 
</head>
<body>
  <div class="gap"></div>
  <div class="ui raised segment signin">
    <div class="ui inverted block header"><p class="signin header"> SIGN IN </p></div>
    <div class="ui one column grid basic segment">
      <div class="column">
        <div class="ui segment">
          <form class="ui form" enctype="application/x-www-form-urlencoded" action="/login" method="post">
            <div class="field">
              <label> Username </label>
              <div class="ui left labeled icon input">
                <input type="text" name="email">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label> Password </label>
              <div class="ui left labeled icon input">
                <input type="password" name="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="inline field">
              <div style="height:1em"></div>
              <div class="ui checkbox">
                <input id="remember" type="checkbox" name="remember_me">
                <label for="remember"> Remember me </label>
              </div>
              <div style="height:1em"></div>
              <button class="ui inverted red submit button" type="submit">Sign In</button>
            </div>
            
          </form>  
          <div class="ui divider"></div>
          <div class="footer ">
            <p><b>Not A Member?</b></p>
            <div class="ui vertical animated mini blue button signup">
              <div class="visible content"> Join Us </div>
              <div class="hidden content">
                <i class="users icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui raised segment signup inactive">
    <h3 class="ui inverted block header"> <p class="signup header">SIGN UP</p> </h3>
    <div class="ui segment unknown">     
      <form class="ui form" enctype="application/x-www-form-urlencoded" action="/signup" method="post">
        <div class="field"> 
          <label> Username </label>
          <div class="ui left labeled icon input">
            <input id="username" type="text" name="username1">
            <i class="user icon"></i>
          </div>                            
        </div>
        <div class="field">
          <label> Email </label>
          <div class="ui left labeled icon input">
            <input id="email" type="text" name="email1">
            <i class="mail icon"></i>
          </div>              
        </div>
        <div class="field">
          <label> Password </label>
          <div class="ui left labeled icon input">
            <input id="password" type="password" name="password1">
            <i class="lock icon"></i>
          </div>                  
        </div>
        <div class="field">
          <label> Confirm Password </label>
          <div class="ui left labeled icon input">
            <input id="confirm-password" type="password" name="password2">
            <i class="lock icon"></i>
          </div>              
        </div>
        <div class="inline field">
          <div class="ui checkbox">
          <input id="terms" type="checkbox" name="terms_conditions">
          <label for="terms"> I agree to the <a href="#"> Terms and Conditions </a></label>
        </div>       
        <button class="ui red submit button" type="submit"> Sign Up </button>         
      </form>
      
      <!-- <div class="ui error message"></div> -->
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="footer">
    <p><b>Already a Member?</b></p>
    <div class="ui vertical animated blue mini button signin">
      <div class="visible content"> Log In </div>
      <div class="hidden content">
        <i class="sign in icon"></i>
      </div>
    </div>
  </div>
</div>
  <script src="js/jquery.js"></script>
  <script src="dist/semantic.js" ></script>
  <script src="js/form.js" ></script>
 
     
</body>
</html>